:root {
    --primary-color: #004080;
    --Secondary-color: #FFB81C;
    --Background-color: #F5F5F5;
    --text-color: #333333;
    --font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;  
}

body{
    margin: 0 auto; 
    font-family: var(--font-family);  
    background-color: var(--Background-color);
    color: var(--text-color);
}

header {
    display: grid;
    grid-template-columns: 100px auto 40px;
    background-color: var(--primary-color);
    align-items: center;
    gap: 10px;
}

header img {
    width: 100px;
    height: 50px;
}
.title {
    color: white;
    width: fit-content;
}

.title h1{
    margin-bottom: -15px;
}

.title p{
    margin-left: 2.5px;
}

#menu::before {
    content: "≡";
    font-size: 2.5rem;
}

#menu {
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: right;
    color: white;
    width: 100%;
    padding: 0.25rem 2vw;
}


#menu.show::before {
    content: "X";
    font-size: 2rem;
}
nav{
    background-color: yellow;
}
ul#navigation{
    display: none;
    list-style-type: none;
    margin: 0 auto;
    margin-left: -40px;
    flex-direction: row;
}

ul#navigation.show{
    display: block;
}

ul#navigation li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.25rem 2vw;
    font-size: 1.2rem;
}

ul#navigation a:hover {
    background-color: rgba(0,0,0,0.2);
}

li.current-page a{
    background-color: rgba(0,0,0,0.2);
}

.buttons{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
}

.buttons button{
    width: 40px;
    height: 40px;
    font-size: 30px;
}

footer {
    display: flex;
    font-size: medium;
    justify-content: space-around;
    flex-direction: column;
    justify-items: center;
    background-color: var(--primary-color);
    align-items: first baseline;
    color: white;
    height: fit-content;
    gap: 20px;
}

footer .links {
    display: flex;
    gap: 20px;
    background-color: transparent;
}

footer .links a {
    padding: 8px 8px 5px 8px;
    border-radius: 35px;
    background-color: var(--Background-color);
    margin: 0 auto;
}

footer .links a img{
    width: 35px;
    height: 35px;
}