@media screen and (min-width: 525px) {
    .head {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px,370px));
        
    }
    .head h2{
        font-size: 1.85rem;
        margin-left: -60px;
    }
    #navigation{
        display: flex;
        flex-direction: row;
        opacity: 1;
    }

    #navigation.show{
        display: flex;
        position: relative;
    }

    #menu {
        display: none;
    }

    #content{
        display: block;
        flex-direction: unset;
        border: none;
    }

    .cards {
        grid-template-columns: minmax(250px, 600px) minmax(250px, 300px);
        margin: 0 10px;
    }

    .cards section{
        border: 1px solid black;
        box-shadow: 2px 2px 2px 4px rgb(27, 27, 27);
    }

    .course{
        margin: 0 auto;
        border-radius: 8px;
        border: 1px solid black;
        box-shadow: 2px 2px 2px 4px rgb(27, 27, 27);
        padding: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #courses {
        grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
    }
}